In [ ]:
# Estevão Batista Sanchez RM 86649

In [29]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [30]:
df =pd.read_csv('cardiovascular_diseases_dv3.csv',delimiter=';')

In [31]:
df.head()

,AGE,GENDER,HEIGHT,WEIGHT,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,CARDIO_DISEASE
0,50,2,168,62,110,80,1,1,0,0,1,0
1,55,1,156,85,140,90,3,1,0,0,1,1
2,52,1,165,64,130,70,3,1,0,0,0,1
3,48,2,169,82,150,100,1,1,0,0,1,1
4,48,1,156,56,100,60,1,1,0,0,0,0

In [32]:
# Tratamento dos dados, transformando colunas categóricas em numéricas e normalizando as colunas númericas

In [33]:
# Variavés dummy - similar a função one hot

dummies_coleterol = pd.get_dummies(df['CHOLESTEROL'])
df['CHOLESTEROL_1'] = dummies_coleterol[1]
df['CHOLESTEROL_2'] = dummies_coleterol[2]
df['CHOLESTEROL_3'] = dummies_coleterol[3]

In [34]:
dummies_gender = pd.get_dummies(df['GENDER'])
df['GENDER_1'] = dummies_gender[1]
df['GENDER_2'] = dummies_gender[2]

In [35]:
dummies_glucose = pd.get_dummies(df['GLUCOSE'])
df['GLUCOSE_1'] = dummies_coleterol[1]
df['GLUCOSE_2'] = dummies_coleterol[2]
df['GLUCOSE_3'] = dummies_coleterol[3]

In [36]:
dummies_smoke = pd.get_dummies(df['SMOKE'])
df['SMOKE_1'] = dummies_smoke[1]
df['SMOKE_0'] = dummies_smoke[0]

In [37]:
dummies_alcool = pd.get_dummies(df['ALCOHOL'])
df['ALCOHOL_1'] = dummies_alcool[1]
df['ALCOHOL_0'] = dummies_alcool[0]

In [38]:
dummies_pa = pd.get_dummies(df['PHYSICAL_ACTIVITY'])
df['PHYSICAL_ACTIVITY_1'] = dummies_alcool[1]
df['PHYSICAL_ACTIVITY_0'] = dummies_alcool[0]

In [39]:
df.head()

,AGE,GENDER,HEIGHT,WEIGHT,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,...,GENDER_2,GLUCOSE_1,GLUCOSE_2,GLUCOSE_3,SMOKE_1,SMOKE_0,ALCOHOL_1,ALCOHOL_0,PHYSICAL_ACTIVITY_1,PHYSICAL_ACTIVITY_0
0,50,2,168,62,110,80,1,1,0,0,...,1,1,0,0,0,1,0,1,0,1
1,55,1,156,85,140,90,3,1,0,0,...,0,0,0,1,0,1,0,1,0,1
2,52,1,165,64,130,70,3,1,0,0,...,0,0,0,1,0,1,0,1,0,1
3,48,2,169,82,150,100,1,1,0,0,...,1,1,0,0,0,1,0,1,0,1
4,48,1,156,56,100,60,1,1,0,0,...,0,1,0,0,0,1,0,1,0,1

In [40]:
# Função para normalizar (valores entre -1 e 1)

def normaliza_media(valores):
  media = np.mean(valores)
  minimo = np.min(valores)
  maximo = np.max(valores)
  return (valores - media)/(maximo-minimo)

In [41]:
# Aplicando a função e normalizando as colunas selecionadas

df.AGE = normaliza_media(df.AGE)
df.AP_LOW = normaliza_media(df.AP_LOW)
df.AP_HIGH = normaliza_media(df.AP_HIGH)
df.WEIGHT = normaliza_media(df.WEIGHT)
df.HEIGHT = normaliza_media(df.HEIGHT)

In [42]:
df.head()

,AGE,GENDER,HEIGHT,WEIGHT,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,...,GENDER_2,GLUCOSE_1,GLUCOSE_2,GLUCOSE_3,SMOKE_1,SMOKE_0,ALCOHOL_1,ALCOHOL_0,PHYSICAL_ACTIVITY_1,PHYSICAL_ACTIVITY_0
0,-0.095051,2,0.018660,-0.064137,-0.092303,-0.009211,1,1,0,0,...,1,1,0,0,0,1,0,1,0,1
1,0.047806,1,-0.042878,0.057556,0.074363,0.057456,3,1,0,0,...,0,0,0,1,0,1,0,1,0,1
2,-0.037908,1,0.003276,-0.053555,0.018808,-0.075877,3,1,0,0,...,0,0,0,1,0,1,0,1,0,1
3,-0.152194,2,0.023788,0.041683,0.129919,0.124123,1,1,0,0,...,1,1,0,0,0,1,0,1,0,1
4,-0.152194,1,-0.042878,-0.095883,-0.147859,-0.142544,1,1,0,0,...,0,1,0,0,0,1,0,1,0,1

In [43]:
# Determinando a coluna de classificação

saida = df['CARDIO_DISEASE']

In [44]:
# Selecionando as colunas de entrada

entrada = df[['AGE','GENDER_1','GENDER_2','HEIGHT','WEIGHT','AP_HIGH','AP_LOW','CHOLESTEROL_1','CHOLESTEROL_2','CHOLESTEROL_3','GLUCOSE_1','GLUCOSE_2','GLUCOSE_3','SMOKE_1','SMOKE_0','ALCOHOL_1','ALCOHOL_0','PHYSICAL_ACTIVITY_1','PHYSICAL_ACTIVITY_0']]

In [45]:
# Calculando o número de neorônios da camada oculta
# Entradas = 11
# saidas = 1

nco_1 = (19+1)/2
nco_2 = (2*19)/3 + 1
nco_3 = 2*19

print(nco_1,nco_2,nco_3)

10.0 13.666666666666666 38

In [46]:
# Separando a amostra de treino e teste - 80% para treino e 20% para teste

X_train, X_test, Y_train, Y_test = train_test_split(entrada, saida, test_size=0.20, random_state=42)

In [47]:
# Determinando os parametros dos modelos de rede neural

# learning_rate_init - taxa de aprendizado inicial usada. Ele controla o tamanho do passo na atualização dos pesos
# max_iter - Número máximo de iterações
# activation - Função utilizada  - Linear
# tol - Tolerância para a otimização
# hidden_layer_sizes - Número de camdas ocultas e neuronios

redeneural_1 = MLPClassifier(verbose=True,
                           max_iter=10000,
                           hidden_layer_sizes=(30,30,30),
                           tol=0.000001,
                           activation='logistic',
                           learning_rate_init = 0.0001)

In [48]:
# Sigmoide

redeneural_2 = MLPClassifier(verbose=True,
                           max_iter=10000,
                           hidden_layer_sizes=(30,30,30),
                           tol=0.000001,
                           activation='identity',
                           learning_rate_init = 0.0001)

In [49]:
# Hiperbolica

redeneural_3 = MLPClassifier(verbose=True,
                           max_iter=10000,
                           hidden_layer_sizes=(30,30,30),
                           tol=0.000001,
                           activation='tanh',
                           learning_rate_init = 0.0001)

In [50]:
# Linear retificada

redeneural_4 = MLPClassifier(verbose=True,
                           max_iter=10000,
                           hidden_layer_sizes=(30,30,30),
                           tol=0.000001,
                           activation='relu',
                           learning_rate_init = 0.0001)

In [ ]:
# Treinando os modelos

In [51]:
redeneural_1.fit(X_train,Y_train)

Iteration 1, loss = 0.75464313
Iteration 2, loss = 0.69676243
Iteration 3, loss = 0.69255737
Iteration 4, loss = 0.69210893
Iteration 5, loss = 0.69160310
Iteration 6, loss = 0.69093579
Iteration 7, loss = 0.68996921
Iteration 8, loss = 0.68857698
Iteration 9, loss = 0.68647969
Iteration 10, loss = 0.68332153
Iteration 11, loss = 0.67877956
Iteration 12, loss = 0.67262399
Iteration 13, loss = 0.66551021
Iteration 14, loss = 0.65849296
Iteration 15, loss = 0.65216707
Iteration 16, loss = 0.64635541
Iteration 17, loss = 0.64062734
Iteration 18, loss = 0.63497653
Iteration 19, loss = 0.62937152
Iteration 20, loss = 0.62358326
Iteration 21, loss = 0.61795481
Iteration 22, loss = 0.61252404
Iteration 23, loss = 0.60738420
Iteration 24, loss = 0.60283189
Iteration 25, loss = 0.59878495
Iteration 26, loss = 0.59523891
Iteration 27, loss = 0.59219908
Iteration 28, loss = 0.58949241
Iteration 29, loss = 0.58697886
Iteration 30, loss = 0.58478611
Iteration 31, loss = 0.58267909
Iteration 32, loss = 0.58065215
Iteration 33, loss = 0.57884965
Iteration 34, loss = 0.57693947
Iteration 35, loss = 0.57522806
Iteration 36, loss = 0.57355527
Iteration 37, loss = 0.57211021
Iteration 38, loss = 0.57073870
Iteration 39, loss = 0.56955144
Iteration 40, loss = 0.56851619
Iteration 41, loss = 0.56751112
Iteration 42, loss = 0.56676462
Iteration 43, loss = 0.56598653
Iteration 44, loss = 0.56545923
Iteration 45, loss = 0.56485580
Iteration 46, loss = 0.56435716
Iteration 47, loss = 0.56399951
Iteration 48, loss = 0.56364415
Iteration 49, loss = 0.56332770
Iteration 50, loss = 0.56299166
Iteration 51, loss = 0.56268425
Iteration 52, loss = 0.56244622
Iteration 53, loss = 0.56223596
Iteration 54, loss = 0.56199602
Iteration 55, loss = 0.56175515
Iteration 56, loss = 0.56158236
Iteration 57, loss = 0.56138395
Iteration 58, loss = 0.56129826
Iteration 59, loss = 0.56108937
Iteration 60, loss = 0.56096392
Iteration 61, loss = 0.56081173
Iteration 62, loss = 0.56069276
Iteration 63, loss = 0.56058562
Iteration 64, loss = 0.56048661
Iteration 65, loss = 0.56030498
Iteration 66, loss = 0.56028252
Iteration 67, loss = 0.56019211
Iteration 68, loss = 0.56010285
Iteration 69, loss = 0.55996285
Iteration 70, loss = 0.55990969
Iteration 71, loss = 0.55984678
Iteration 72, loss = 0.55978400
Iteration 73, loss = 0.55969675
Iteration 74, loss = 0.55963427
Iteration 75, loss = 0.55951101
Iteration 76, loss = 0.55945599
Iteration 77, loss = 0.55938608
Iteration 78, loss = 0.55936102
Iteration 79, loss = 0.55929772
Iteration 80, loss = 0.55927187
Iteration 81, loss = 0.55917442
Iteration 82, loss = 0.55917127
Iteration 83, loss = 0.55911630
Iteration 84, loss = 0.55902921
Iteration 85, loss = 0.55902299
Iteration 86, loss = 0.55902593
Iteration 87, loss = 0.55889705
Iteration 88, loss = 0.55886435
Iteration 89, loss = 0.55883102
Iteration 90, loss = 0.55880865
Iteration 91, loss = 0.55881128
Iteration 92, loss = 0.55873556
Iteration 93, loss = 0.55872694
Iteration 94, loss = 0.55865088
Iteration 95, loss = 0.55870907
Iteration 96, loss = 0.55862348
Iteration 97, loss = 0.55858952
Iteration 98, loss = 0.55851314
Iteration 99, loss = 0.55851593
Iteration 100, loss = 0.55850261
Iteration 101, loss = 0.55849276
Iteration 102, loss = 0.55847218
Iteration 103, loss = 0.55840108
Iteration 104, loss = 0.55842293
Iteration 105, loss = 0.55838635
Iteration 106, loss = 0.55831826
Iteration 107, loss = 0.55832689
Iteration 108, loss = 0.55826406
Iteration 109, loss = 0.55827019
Iteration 110, loss = 0.55822410
Iteration 111, loss = 0.55825067
Iteration 112, loss = 0.55819827
Iteration 113, loss = 0.55818751
Iteration 114, loss = 0.55823693
Iteration 115, loss = 0.55818696
Iteration 116, loss = 0.55816525
Iteration 117, loss = 0.55806604
Iteration 118, loss = 0.55813032
Iteration 119, loss = 0.55805901
Iteration 120, loss = 0.55804801
Iteration 121, loss = 0.55811057
Iteration 122, loss = 0.55803317
Iteration 123, loss = 0.55802933
Iteration 124, loss = 0.55805605
Iteration 125, loss = 0.55792226
Iteration 126, loss = 0.55791267
Iteration 127, loss = 0.55805507
Iteration 128, loss = 0.55791375
Iteration 129, loss = 0.55788661
Iteration 130, loss = 0.55792057
Iteration 131, loss = 0.55787819
Iteration 132, loss = 0.55789049
Iteration 133, loss = 0.55785396
Iteration 134, loss = 0.55787897
Iteration 135, loss = 0.55782760
Iteration 136, loss = 0.55780514
Iteration 137, loss = 0.55780818
Iteration 138, loss = 0.55783233
Iteration 139, loss = 0.55774528
Iteration 140, loss = 0.55779099
Iteration 141, loss = 0.55775275
Iteration 142, loss = 0.55774281
Iteration 143, loss = 0.55768813
Iteration 144, loss = 0.55770903
Iteration 145, loss = 0.55773680
Iteration 146, loss = 0.55765597
Iteration 147, loss = 0.55763329
Iteration 148, loss = 0.55761504
Iteration 149, loss = 0.55759630
Iteration 150, loss = 0.55755945
Iteration 151, loss = 0.55764623
Iteration 152, loss = 0.55762318
Iteration 153, loss = 0.55754389
Iteration 154, loss = 0.55755788
Iteration 155, loss = 0.55765623
Iteration 156, loss = 0.55755898
Iteration 157, loss = 0.55751547
Iteration 158, loss = 0.55753161
Iteration 159, loss = 0.55747844
Iteration 160, loss = 0.55752919
Iteration 161, loss = 0.55753374
Iteration 162, loss = 0.55745756
Iteration 163, loss = 0.55742612
Iteration 164, loss = 0.55746353
Iteration 165, loss = 0.55743234
Iteration 166, loss = 0.55741260
Iteration 167, loss = 0.55743069
Iteration 168, loss = 0.55736076
Iteration 169, loss = 0.55739232
Iteration 170, loss = 0.55737746
Iteration 171, loss = 0.55735605
Iteration 172, loss = 0.55734341
Iteration 173, loss = 0.55735506
Iteration 174, loss = 0.55737195
Iteration 175, loss = 0.55734992
Iteration 176, loss = 0.55730526
Iteration 177, loss = 0.55735146
Iteration 178, loss = 0.55729722
Iteration 179, loss = 0.55734718
Iteration 180, loss = 0.55730929
Iteration 181, loss = 0.55713620
Iteration 182, loss = 0.55719405
Iteration 183, loss = 0.55722812
Iteration 184, loss = 0.55724130
Iteration 185, loss = 0.55719505
Iteration 186, loss = 0.55717975
Iteration 187, loss = 0.55716136
Iteration 188, loss = 0.55718052
Iteration 189, loss = 0.55718452
Iteration 190, loss = 0.55713835
Iteration 191, loss = 0.55715194
Iteration 192, loss = 0.55715620
Training loss did not improve more than tol=0.000001 for 10 consecutive epochs. Stopping.

MLPClassifier(activation='logistic', hidden_layer_sizes=(30, 30, 30),
              learning_rate_init=0.0001, max_iter=10000, tol=1e-06,
              verbose=True)

In [52]:

redeneural_2.fit(X_train,Y_train)
redeneural_3.fit(X_train,Y_train)
redeneural_4.fit(X_train,Y_train)

Iteration 1, loss = 0.65630927
Iteration 2, loss = 0.62178685
Iteration 3, loss = 0.59735175
Iteration 4, loss = 0.58057642
Iteration 5, loss = 0.57286901
Iteration 6, loss = 0.56939936
Iteration 7, loss = 0.56780358
Iteration 8, loss = 0.56704153
Iteration 9, loss = 0.56661395
Iteration 10, loss = 0.56606519
Iteration 11, loss = 0.56566214
Iteration 12, loss = 0.56560795
Iteration 13, loss = 0.56552165
Iteration 14, loss = 0.56544419
Iteration 15, loss = 0.56497703
Iteration 16, loss = 0.56504910
Iteration 17, loss = 0.56489768
Iteration 18, loss = 0.56478110
Iteration 19, loss = 0.56466627
Iteration 20, loss = 0.56466190
Iteration 21, loss = 0.56460789
Iteration 22, loss = 0.56460382
Iteration 23, loss = 0.56465079
Iteration 24, loss = 0.56452338
Iteration 25, loss = 0.56455991
Iteration 26, loss = 0.56458446
Iteration 27, loss = 0.56454464
Iteration 28, loss = 0.56440660
Iteration 29, loss = 0.56436812
Iteration 30, loss = 0.56446207
Iteration 31, loss = 0.56447216
Iteration 32, loss = 0.56440993
Iteration 33, loss = 0.56452116
Iteration 34, loss = 0.56424054
Iteration 35, loss = 0.56452668
Iteration 36, loss = 0.56439933
Iteration 37, loss = 0.56446498
Iteration 38, loss = 0.56448129
Iteration 39, loss = 0.56453032
Iteration 40, loss = 0.56434681
Iteration 41, loss = 0.56458729
Iteration 42, loss = 0.56447079
Iteration 43, loss = 0.56459335
Iteration 44, loss = 0.56446908
Iteration 45, loss = 0.56429507
Training loss did not improve more than tol=0.000001 for 10 consecutive epochs. Stopping.
Iteration 1, loss = 0.66548613
Iteration 2, loss = 0.63228576
Iteration 3, loss = 0.60595876
Iteration 4, loss = 0.58614994
Iteration 5, loss = 0.57405145
Iteration 6, loss = 0.56760930
Iteration 7, loss = 0.56474480
Iteration 8, loss = 0.56345882
Iteration 9, loss = 0.56260196
Iteration 10, loss = 0.56190872
Iteration 11, loss = 0.56166150
Iteration 12, loss = 0.56094058
Iteration 13, loss = 0.56076780
Iteration 14, loss = 0.56030060
Iteration 15, loss = 0.55977000
Iteration 16, loss = 0.55935484
Iteration 17, loss = 0.55915069
Iteration 18, loss = 0.55890778
Iteration 19, loss = 0.55851596
Iteration 20, loss = 0.55845404
Iteration 21, loss = 0.55814773
Iteration 22, loss = 0.55789996
Iteration 23, loss = 0.55789452
Iteration 24, loss = 0.55764771
Iteration 25, loss = 0.55746175
Iteration 26, loss = 0.55747282
Iteration 27, loss = 0.55715770
Iteration 28, loss = 0.55711726
Iteration 29, loss = 0.55690538
Iteration 30, loss = 0.55684173
Iteration 31, loss = 0.55668608
Iteration 32, loss = 0.55667000
Iteration 33, loss = 0.55645686
Iteration 34, loss = 0.55644613
Iteration 35, loss = 0.55624237
Iteration 36, loss = 0.55619107
Iteration 37, loss = 0.55619079
Iteration 38, loss = 0.55595587
Iteration 39, loss = 0.55591853
Iteration 40, loss = 0.55573255
Iteration 41, loss = 0.55570636
Iteration 42, loss = 0.55561593
Iteration 43, loss = 0.55539335
Iteration 44, loss = 0.55536608
Iteration 45, loss = 0.55520838
Iteration 46, loss = 0.55526043
Iteration 47, loss = 0.55503028
Iteration 48, loss = 0.55500226
Iteration 49, loss = 0.55487206
Iteration 50, loss = 0.55476040
Iteration 51, loss = 0.55472995
Iteration 52, loss = 0.55460904
Iteration 53, loss = 0.55445100
Iteration 54, loss = 0.55432081
Iteration 55, loss = 0.55423355
Iteration 56, loss = 0.55415114
Iteration 57, loss = 0.55406440
Iteration 58, loss = 0.55393454
Iteration 59, loss = 0.55381964
Iteration 60, loss = 0.55371075
Iteration 61, loss = 0.55362566
Iteration 62, loss = 0.55338807
Iteration 63, loss = 0.55341036
Iteration 64, loss = 0.55314290
Iteration 65, loss = 0.55310222
Iteration 66, loss = 0.55300313
Iteration 67, loss = 0.55287413
Iteration 68, loss = 0.55263918
Iteration 69, loss = 0.55253575
Iteration 70, loss = 0.55249541
Iteration 71, loss = 0.55238797
Iteration 72, loss = 0.55223316
Iteration 73, loss = 0.55214014
Iteration 74, loss = 0.55187475
Iteration 75, loss = 0.55182172
Iteration 76, loss = 0.55170541
Iteration 77, loss = 0.55153234
Iteration 78, loss = 0.55133375
Iteration 79, loss = 0.55118540
Iteration 80, loss = 0.55101762
Iteration 81, loss = 0.55082390
Iteration 82, loss = 0.55073157
Iteration 83, loss = 0.55055134
Iteration 84, loss = 0.55027865
Iteration 85, loss = 0.55010476
Iteration 86, loss = 0.55002104
Iteration 87, loss = 0.54979270
Iteration 88, loss = 0.54965313
Iteration 89, loss = 0.54944183
Iteration 90, loss = 0.54924284
Iteration 91, loss = 0.54916746
Iteration 92, loss = 0.54889473
Iteration 93, loss = 0.54872203
Iteration 94, loss = 0.54859039
Iteration 95, loss = 0.54839490
Iteration 96, loss = 0.54827690
Iteration 97, loss = 0.54803302
Iteration 98, loss = 0.54791826
Iteration 99, loss = 0.54786121
Iteration 100, loss = 0.54770766
Iteration 101, loss = 0.54748395
Iteration 102, loss = 0.54745206
Iteration 103, loss = 0.54742350
Iteration 104, loss = 0.54719641
Iteration 105, loss = 0.54703296
Iteration 106, loss = 0.54706195
Iteration 107, loss = 0.54696362
Iteration 108, loss = 0.54697032
Iteration 109, loss = 0.54687877
Iteration 110, loss = 0.54674998
Iteration 111, loss = 0.54664003
Iteration 112, loss = 0.54664566
Iteration 113, loss = 0.54658962
Iteration 114, loss = 0.54645798
Iteration 115, loss = 0.54647260
Iteration 116, loss = 0.54635601
Iteration 117, loss = 0.54635348
Iteration 118, loss = 0.54638758
Iteration 119, loss = 0.54639234
Iteration 120, loss = 0.54621305
Iteration 121, loss = 0.54620231
Iteration 122, loss = 0.54619625
Iteration 123, loss = 0.54611231
Iteration 124, loss = 0.54606640
Iteration 125, loss = 0.54610884
Iteration 126, loss = 0.54604885
Iteration 127, loss = 0.54601631
Iteration 128, loss = 0.54600501
Iteration 129, loss = 0.54600242
Iteration 130, loss = 0.54593104
Iteration 131, loss = 0.54593038
Iteration 132, loss = 0.54583565
Iteration 133, loss = 0.54597197
Iteration 134, loss = 0.54581120
Iteration 135, loss = 0.54582241
Iteration 136, loss = 0.54577064
Iteration 137, loss = 0.54571867
Iteration 138, loss = 0.54586009
Iteration 139, loss = 0.54578472
Iteration 140, loss = 0.54569522
Iteration 141, loss = 0.54568077
Iteration 142, loss = 0.54569650
Iteration 143, loss = 0.54567547
Iteration 144, loss = 0.54565147
Iteration 145, loss = 0.54573401
Iteration 146, loss = 0.54560201
Iteration 147, loss = 0.54561558
Iteration 148, loss = 0.54555902
Iteration 149, loss = 0.54555689
Iteration 150, loss = 0.54555023
Iteration 151, loss = 0.54562912
Iteration 152, loss = 0.54553287
Iteration 153, loss = 0.54545404
Iteration 154, loss = 0.54545234
Iteration 155, loss = 0.54542386
Iteration 156, loss = 0.54539195
Iteration 157, loss = 0.54545201
Iteration 158, loss = 0.54542515
Iteration 159, loss = 0.54540792
Iteration 160, loss = 0.54541230
Iteration 161, loss = 0.54543721
Iteration 162, loss = 0.54541454
Iteration 163, loss = 0.54541321
Iteration 164, loss = 0.54540318
Iteration 165, loss = 0.54527558
Iteration 166, loss = 0.54529513
Iteration 167, loss = 0.54536492
Iteration 168, loss = 0.54541604
Iteration 169, loss = 0.54537456
Iteration 170, loss = 0.54532383
Iteration 171, loss = 0.54528788
Iteration 172, loss = 0.54530113
Iteration 173, loss = 0.54533538
Iteration 174, loss = 0.54528926
Iteration 175, loss = 0.54530570
Iteration 176, loss = 0.54527660
Training loss did not improve more than tol=0.000001 for 10 consecutive epochs. Stopping.
Iteration 1, loss = 0.70963527
Iteration 2, loss = 0.67582490
Iteration 3, loss = 0.64636266
Iteration 4, loss = 0.61687005
Iteration 5, loss = 0.59320085
Iteration 6, loss = 0.57932239
Iteration 7, loss = 0.57086492
Iteration 8, loss = 0.56563368
Iteration 9, loss = 0.56290441
Iteration 10, loss = 0.56141175
Iteration 11, loss = 0.56023505
Iteration 12, loss = 0.55936387
Iteration 13, loss = 0.55890706
Iteration 14, loss = 0.55824516
Iteration 15, loss = 0.55780362
Iteration 16, loss = 0.55736954
Iteration 17, loss = 0.55693515
Iteration 18, loss = 0.55652888
Iteration 19, loss = 0.55628376
Iteration 20, loss = 0.55597726
Iteration 21, loss = 0.55565949
Iteration 22, loss = 0.55534057
Iteration 23, loss = 0.55509326
Iteration 24, loss = 0.55470578
Iteration 25, loss = 0.55438644
Iteration 26, loss = 0.55406346
Iteration 27, loss = 0.55377008
Iteration 28, loss = 0.55361513
Iteration 29, loss = 0.55335028
Iteration 30, loss = 0.55305898
Iteration 31, loss = 0.55300653
Iteration 32, loss = 0.55272746
Iteration 33, loss = 0.55246291
Iteration 34, loss = 0.55219376
Iteration 35, loss = 0.55206668
Iteration 36, loss = 0.55182136
Iteration 37, loss = 0.55169925
Iteration 38, loss = 0.55142521
Iteration 39, loss = 0.55118921
Iteration 40, loss = 0.55102874
Iteration 41, loss = 0.55082461
Iteration 42, loss = 0.55071283
Iteration 43, loss = 0.55054978
Iteration 44, loss = 0.55033138
Iteration 45, loss = 0.55021207
Iteration 46, loss = 0.55004580
Iteration 47, loss = 0.55005191
Iteration 48, loss = 0.54968900
Iteration 49, loss = 0.54955978
Iteration 50, loss = 0.54969226
Iteration 51, loss = 0.54935830
Iteration 52, loss = 0.54942793
Iteration 53, loss = 0.54912665
Iteration 54, loss = 0.54895012
Iteration 55, loss = 0.54903473
Iteration 56, loss = 0.54888036
Iteration 57, loss = 0.54872763
Iteration 58, loss = 0.54869602
Iteration 59, loss = 0.54859665
Iteration 60, loss = 0.54837648
Iteration 61, loss = 0.54826623
Iteration 62, loss = 0.54829061
Iteration 63, loss = 0.54816889
Iteration 64, loss = 0.54795563
Iteration 65, loss = 0.54795500
Iteration 66, loss = 0.54790475
Iteration 67, loss = 0.54779202
Iteration 68, loss = 0.54769996
Iteration 69, loss = 0.54777541
Iteration 70, loss = 0.54744919
Iteration 71, loss = 0.54750152
Iteration 72, loss = 0.54742129
Iteration 73, loss = 0.54735619
Iteration 74, loss = 0.54728338
Iteration 75, loss = 0.54719171
Iteration 76, loss = 0.54720325
Iteration 77, loss = 0.54702694
Iteration 78, loss = 0.54700439
Iteration 79, loss = 0.54702451
Iteration 80, loss = 0.54692107
Iteration 81, loss = 0.54696394
Iteration 82, loss = 0.54688062
Iteration 83, loss = 0.54679179
Iteration 84, loss = 0.54670263
Iteration 85, loss = 0.54666900
Iteration 86, loss = 0.54663429
Iteration 87, loss = 0.54659781
Iteration 88, loss = 0.54652124
Iteration 89, loss = 0.54645008
Iteration 90, loss = 0.54643314
Iteration 91, loss = 0.54644977
Iteration 92, loss = 0.54634289
Iteration 93, loss = 0.54627595
Iteration 94, loss = 0.54625653
Iteration 95, loss = 0.54612238
Iteration 96, loss = 0.54619937
Iteration 97, loss = 0.54627800
Iteration 98, loss = 0.54613275
Iteration 99, loss = 0.54624988
Iteration 100, loss = 0.54603179
Iteration 101, loss = 0.54606051
Iteration 102, loss = 0.54599546
Iteration 103, loss = 0.54601066
Iteration 104, loss = 0.54591213
Iteration 105, loss = 0.54596376
Iteration 106, loss = 0.54587321
Iteration 107, loss = 0.54578283
Iteration 108, loss = 0.54586239
Iteration 109, loss = 0.54569165
Iteration 110, loss = 0.54579230
Iteration 111, loss = 0.54574385
Iteration 112, loss = 0.54569585
Iteration 113, loss = 0.54566839
Iteration 114, loss = 0.54564703
Iteration 115, loss = 0.54564782
Iteration 116, loss = 0.54558444
Iteration 117, loss = 0.54556069
Iteration 118, loss = 0.54560328
Iteration 119, loss = 0.54556644
Iteration 120, loss = 0.54543856
Iteration 121, loss = 0.54549635
Iteration 122, loss = 0.54541521
Iteration 123, loss = 0.54537389
Iteration 124, loss = 0.54539709
Iteration 125, loss = 0.54535516
Iteration 126, loss = 0.54538776
Iteration 127, loss = 0.54540654
Iteration 128, loss = 0.54537514
Iteration 129, loss = 0.54533157
Iteration 130, loss = 0.54531189
Iteration 131, loss = 0.54529384
Iteration 132, loss = 0.54535191
Iteration 133, loss = 0.54518328
Iteration 134, loss = 0.54525449
Iteration 135, loss = 0.54525588
Iteration 136, loss = 0.54521351
Iteration 137, loss = 0.54526564
Iteration 138, loss = 0.54516114
Iteration 139, loss = 0.54514170
Iteration 140, loss = 0.54509163
Iteration 141, loss = 0.54512817
Iteration 142, loss = 0.54513798
Iteration 143, loss = 0.54516306
Iteration 144, loss = 0.54515005
Iteration 145, loss = 0.54507954
Iteration 146, loss = 0.54495982
Iteration 147, loss = 0.54501239
Iteration 148, loss = 0.54511042
Iteration 149, loss = 0.54490076
Iteration 150, loss = 0.54486534
Iteration 151, loss = 0.54500154
Iteration 152, loss = 0.54488600
Iteration 153, loss = 0.54496331
Iteration 154, loss = 0.54493456
Iteration 155, loss = 0.54495452
Iteration 156, loss = 0.54480866
Iteration 157, loss = 0.54481501
Iteration 158, loss = 0.54485138
Iteration 159, loss = 0.54483028
Iteration 160, loss = 0.54492665
Iteration 161, loss = 0.54478866
Iteration 162, loss = 0.54482745
Iteration 163, loss = 0.54472514
Iteration 164, loss = 0.54487428
Iteration 165, loss = 0.54473387
Iteration 166, loss = 0.54475397
Iteration 167, loss = 0.54476015
Iteration 168, loss = 0.54480394
Iteration 169, loss = 0.54471889
Iteration 170, loss = 0.54473778
Iteration 171, loss = 0.54459560
Iteration 172, loss = 0.54471368
Iteration 173, loss = 0.54470570
Iteration 174, loss = 0.54466697
Iteration 175, loss = 0.54456804
Iteration 176, loss = 0.54469902
Iteration 177, loss = 0.54461782
Iteration 178, loss = 0.54467357
Iteration 179, loss = 0.54460700
Iteration 180, loss = 0.54467937
Iteration 181, loss = 0.54450949
Iteration 182, loss = 0.54454212
Iteration 183, loss = 0.54451644
Iteration 184, loss = 0.54451988
Iteration 185, loss = 0.54457221
Iteration 186, loss = 0.54455174
Iteration 187, loss = 0.54455017
Iteration 188, loss = 0.54453173
Iteration 189, loss = 0.54439005
Iteration 190, loss = 0.54463197
Iteration 191, loss = 0.54440453
Iteration 192, loss = 0.54445531
Iteration 193, loss = 0.54447907
Iteration 194, loss = 0.54431075
Iteration 195, loss = 0.54434736
Iteration 196, loss = 0.54428866
Iteration 197, loss = 0.54429170
Iteration 198, loss = 0.54432804
Iteration 199, loss = 0.54447946
Iteration 200, loss = 0.54422914
Iteration 201, loss = 0.54431149
Iteration 202, loss = 0.54433009
Iteration 203, loss = 0.54439698
Iteration 204, loss = 0.54430719
Iteration 205, loss = 0.54423625
Iteration 206, loss = 0.54411943
Iteration 207, loss = 0.54419860
Iteration 208, loss = 0.54414094
Iteration 209, loss = 0.54426395
Iteration 210, loss = 0.54428012
Iteration 211, loss = 0.54416811
Iteration 212, loss = 0.54417101
Iteration 213, loss = 0.54424570
Iteration 214, loss = 0.54415555
Iteration 215, loss = 0.54419241
Iteration 216, loss = 0.54418557
Iteration 217, loss = 0.54404900
Iteration 218, loss = 0.54419923
Iteration 219, loss = 0.54420485
Iteration 220, loss = 0.54408799
Iteration 221, loss = 0.54413180
Iteration 222, loss = 0.54417530
Iteration 223, loss = 0.54406992
Iteration 224, loss = 0.54404012
Iteration 225, loss = 0.54403241
Iteration 226, loss = 0.54408444
Iteration 227, loss = 0.54406655
Iteration 228, loss = 0.54399855
Iteration 229, loss = 0.54407306
Iteration 230, loss = 0.54402120
Iteration 231, loss = 0.54403182
Iteration 232, loss = 0.54408716
Iteration 233, loss = 0.54409121
Iteration 234, loss = 0.54401780
Iteration 235, loss = 0.54401155
Iteration 236, loss = 0.54405118
Iteration 237, loss = 0.54392413
Iteration 238, loss = 0.54395092
Iteration 239, loss = 0.54398060
Iteration 240, loss = 0.54398827
Iteration 241, loss = 0.54387209
Iteration 242, loss = 0.54392365
Iteration 243, loss = 0.54379486
Iteration 244, loss = 0.54388397
Iteration 245, loss = 0.54387932
Iteration 246, loss = 0.54386110
Iteration 247, loss = 0.54384553
Iteration 248, loss = 0.54390225
Iteration 249, loss = 0.54386710
Iteration 250, loss = 0.54385950
Iteration 251, loss = 0.54378120
Iteration 252, loss = 0.54372597
Iteration 253, loss = 0.54387417
Iteration 254, loss = 0.54385727
Iteration 255, loss = 0.54383345
Iteration 256, loss = 0.54381412
Iteration 257, loss = 0.54378234
Iteration 258, loss = 0.54369023
Iteration 259, loss = 0.54382438
Iteration 260, loss = 0.54363995
Iteration 261, loss = 0.54364413
Iteration 262, loss = 0.54374623
Iteration 263, loss = 0.54370229
Iteration 264, loss = 0.54380186
Iteration 265, loss = 0.54365947
Iteration 266, loss = 0.54366428
Iteration 267, loss = 0.54365711
Iteration 268, loss = 0.54376868
Iteration 269, loss = 0.54363063
Iteration 270, loss = 0.54364899
Iteration 271, loss = 0.54368996
Iteration 272, loss = 0.54379565
Iteration 273, loss = 0.54367502
Iteration 274, loss = 0.54365233
Iteration 275, loss = 0.54366779
Iteration 276, loss = 0.54359100
Iteration 277, loss = 0.54359138
Iteration 278, loss = 0.54363328
Iteration 279, loss = 0.54359263
Iteration 280, loss = 0.54355963
Iteration 281, loss = 0.54364427
Iteration 282, loss = 0.54358705
Iteration 283, loss = 0.54357589
Iteration 284, loss = 0.54358062
Iteration 285, loss = 0.54356159
Iteration 286, loss = 0.54349871
Iteration 287, loss = 0.54353259
Iteration 288, loss = 0.54358865
Iteration 289, loss = 0.54354544
Iteration 290, loss = 0.54360723
Iteration 291, loss = 0.54346436
Iteration 292, loss = 0.54348533
Iteration 293, loss = 0.54355796
Iteration 294, loss = 0.54353670
Iteration 295, loss = 0.54346222
Iteration 296, loss = 0.54359640
Iteration 297, loss = 0.54331082
Iteration 298, loss = 0.54357166
Iteration 299, loss = 0.54350913
Iteration 300, loss = 0.54353041
Iteration 301, loss = 0.54334817
Iteration 302, loss = 0.54341118
Iteration 303, loss = 0.54342505
Iteration 304, loss = 0.54337737
Iteration 305, loss = 0.54340855
Iteration 306, loss = 0.54334796
Iteration 307, loss = 0.54335283
Iteration 308, loss = 0.54342822
Training loss did not improve more than tol=0.000001 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(30, 30, 30), learning_rate_init=0.0001,
              max_iter=10000, tol=1e-06, verbose=True)

In [53]:
# Resultados d acurácia

redeneural_1.score(X_test,Y_test)

0.7337355528094788

In [54]:
redeneural_2.score(X_test,Y_test)

0.7323544377407865

In [55]:
redeneural_3.score(X_test,Y_test)

0.7359889510794505

In [56]:
redeneural_4.score(X_test,Y_test)

0.737951588282329