In [1]:
import pandas as pd
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [2]:
df = pd.read_csv("train.csv")

In [28]:
# Preenchendo as linha com idades indefinidas, pela média das idades
# Transformando a variável categorica sexo em númerica (função dummy)

In [29]:
idade_media = df['idade'].mean()
df['idade'] = df['idade'].fillna(idade_media)

In [30]:
dummies_sex = pd.get_dummies(df['sexo'])
df['sexo_masculino'] = dummies_sex['male']
df['sexo_feminino'] = dummies_sex['female']

In [31]:
df.head()

,id,sobreviveu,classe_social,nome,sexo,idade,parentes,dependentes,bilhete,tarifa,cabine,embarque,sexo_masculino,sexo_feminino
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,0

In [6]:
# Selecionando a coluna target e as colunas de análise através da train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( df[['classe_social','sexo_masculino','sexo_feminino']], df['sobreviveu'], test_size=0.3266, random_state=33 )

In [7]:
# Modele de classificação Tree
mod_1 = tree.DecisionTreeClassifier()
mod_1 = mod_1.fit(X_train,Y_train)

In [8]:
# Acurácia do modelo tree
resultado_train_split = mod_1.score(X_test,Y_test)
print(resultado_train_split)

0.8047945205479452

In [9]:
# Outra maneira de calcular a acurácia
y_prev = mod_1.predict(X_test)
accuracy_score(Y_test, y_prev)

0.8047945205479452

In [10]:
#matrz de confusão
pd.crosstab(y_prev,Y_test, margins=True)

sobreviveu    0    1  All
row_0
0           180   54  234
1             3   55   58
All         183  109  292

In [11]:
# Precisão Tree
precision_score(Y_test,y_prev)

0.9482758620689655

In [12]:
# Recal Tree
recall_score(Y_test,y_prev)

0.5045871559633027

Random Force

In [13]:
X_train_rf, X_test_rf, Y_train_rf, Y_test_rf = train_test_split( df[['classe_social','sexo_masculino','sexo_feminino']], df['sobreviveu'], test_size=0.3266, random_state=33 )

In [14]:
from sklearn.ensemble import RandomForestClassifier
mod = RandomForestClassifier(n_estimators = 1000, random_state = 42)
# Train the model on training data
mod = mod.fit(X_train_rf, Y_train_rf)

In [15]:
y_prev_rf = mod.predict(X_test_rf)
accuracy_score(Y_test_rf, y_prev_rf)

0.8047945205479452

In [16]:
precision_score(Y_test_rf,y_prev_rf)

0.9482758620689655

In [17]:
recall_score(Y_test_rf,y_prev_rf)

0.5045871559633027

AdaBoost

In [18]:
X_train_ada, X_test_ada, Y_train_ada, Y_test_ada = train_test_split( df[['classe_social','sexo_masculino','sexo_feminino']], df['sobreviveu'], test_size=0.3266, random_state=33 )

In [19]:
from sklearn.ensemble import AdaBoostClassifier
mod = AdaBoostClassifier(n_estimators=100, random_state=0)
mod = mod.fit(X_train_ada, Y_train_ada)

In [20]:
y_prev_ada = mod.predict(X_test_ada)
accuracy_score(Y_test_ada, y_prev_ada)

0.8116438356164384

In [21]:
precision_score(Y_test_ada,y_prev_ada)

0.75

In [22]:
recall_score(Y_test_ada,y_prev_ada)

0.7431192660550459

SVM

In [23]:
X_train_svm, X_test_svm, Y_train_svm, Y_test_svm = train_test_split( df[['classe_social','sexo_masculino','sexo_feminino']], df['sobreviveu'], test_size=0.3266, random_state=33 )

In [24]:
from sklearn import svm
mod = svm.SVC()
mod = mod.fit(X_train_svm, Y_train_svm)

In [25]:
y_prev_svm = mod.predict(X_test_svm)
accuracy_score(Y_test_svm, y_prev_svm)

0.8047945205479452

In [26]:
precision_score(Y_test_svm,y_prev_svm)

0.9482758620689655

In [27]:
recall_score(Y_test_svm,y_prev_svm)

0.5045871559633027